@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    /* font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.6em; */
    /* font-weight: normal; */
    /*font-style: italic;*/
    /*letter-spacing: 10px;*/
    /* word-spacing: normal; */
    font: normal 20px 'Robota, sans-serif';
}

.card{
    border: 1px solid grey;
    padding-left: 10px;
}